<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--连接字符串-->
  <connectionStrings>
    <!--日志连接字符串-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SD.IdentitySystem;User Id=sa;Password=broadmall123!;MultipleActiveResultSets=true;TrustServerCertificate=true;" />
  </connectionStrings>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--应用程序名称-->
    <application.name>SD.Framework</application.name>
    <!--服务名称-->
    <service.name>SlamDunk Co.,Ltd</service.name>
    <!--数据库读连接名称-->
    <database.read.connectionName>DefaultConnection</database.read.connectionName>
    <!--数据库写连接名称-->
    <database.write.connectionName>DefaultConnection</database.write.connectionName>
  </sd.framework>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.AOP.LogViewer.Repository.SqlServer" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.AOP.LogViewer" />
    </asSelfAssemblies>
  </sd.ioc>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="false">
    <!--Host地址列表-->
    <hosts>
      <host port="29780" protocol="http" />
    </hosts>
    <!--静态文件根目录-->
    <staticFiles>Content</staticFiles>
  </sd.toolkits.aspNet>
</configuration>
